body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;

}

 /* Navbar customization */
 .navbar{
    height:5rem;
    background-color: white;
 }

 .fa-compass{
    color: #fe424d;
    font-size: 2 rem;
 }

 .nav-link{
    color:black !important;

 }

 /* Footer customization */
 .f_info_links{
    color: #222222;
    text-decoration: none;
}
.f_info_links:hover{
    color: #fe424d;
    text-decoration: none;
}
.f_info_links{
    width: 100%;
}
.f_info_socials{
    font-size:1.3rem;
    margin-right: auto;
    width:100%;
}

.f_info_socials a{
    color: #222222;
    margin: 0 0.5rem;
    text-decoration: none;
}
.f_info_socials, .f_info_links, .f_info_brands{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;;
}

.f_info{
    text-align:center;
    height: 8rem;
    background-color: #999595 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*cards customization*/
.listing-card{
    border:none !important;
    margin-bottom:2rem;

}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}
.card-body{
    padding:1rem !important;

}
.card-text{
    font-weight:400 !important;
    color: #222222 !important;
}
.listing-link{
    text-decoration: none !important;
    color: inherit !important;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}
.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}
/*show page customization*/
.show-img{
    height:40vh;;
}
.btns{
    display: flex;
    gap: 1rem;
}

.show-card{
    padding-left:0;
padding-right: 0;
}
.btn-search{
    background-color: #fe424d;
    color: white;
    border-radius:25px;
    padding: 0 1rem 0 1rem;
}
.btn-search:hover{
    background-color: #fe424d;
    color: white;
    
}
.btn-search i {
    display: inline;
    margin-right: 0.5rem;

}
.search-inp{
     border-radius:25px;
     padding: 0.5rem 3rem 0.5rem 3rem;
     font-size: 0.9rem;
}
.category-check{
    display:inline-block;
    flex-wrap:nowrap;

}